<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CTCI-ch3s5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9F8C31E1D6301F8004A9895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F8C3341D6301F8004A9895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9F8C33F1D6301F8004A9895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
