<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CTCI-ch1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9CEB1081D54CD76000516C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9CEB11E1D54CD77000516C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9CEB1291D54CD77000516C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
